@import url(http://fonts.googleapis.com/css?family=Hind:300,400,600,700,500);

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.brand {
  font-size: 30px;
  margin-left: 15px;
  font-weight: 600;
  color: #555;
}

.brand i {
  color: #8e44ad;
}

form {
  background-color: #fff;
  color: #000;
  height: 45px;
  border-bottom: 1px solid #e5e5e5;
}

h1 {
  margin: 0;
}

a {
  color: #c00;
}

.song-info {
  text-align: center;
  padding-top: 5px;
}

.song-info b, small {
  display: block;
}

.song-info b {
  font-size: 12px;
  font-weight: 300;
  color: #333;
}

.song-info small {
  font-size: 14px;
  font-weight: 300;
  color: #a1a1a1;
}

figcaption {
  display: inline-block;
  width: 25%;
}

figure {
  margin: 14px 14px 0 14px;
}

figure  img{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

audio {
  display: block;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

#search-keyword {
  height: 45px;
  border: none;
  border-left: 1px solid #e5e5e5;
  width: 150px;
  font-size: 15px;
  font-weight: 100;
  outline: none;
  transition: all 0.3s;
  margin-right: 5px;
  color: #c1c1c1;
}

#search-keyword:hover,
#search-keyword:focus {
  width: 200px;
}

::-webkit-input-placeholder {
 font-style: italic;
 font-size: 12px;
 letter-spacing: 0.61px;
 font-family: 'Hind', sans-serif;
 font-weight: 300;
}

#results {
  text-align: center;
}

.fa-search {
  font-size: 48px !important;
  display: block !important;
  margin-top: 18% !important;
  color: #a1a1a1;
}

.home-hero-text {
  font-weight: 300;
  font-size: 48px;
  color: #a1a1a1;
}